{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}
{% block carousel%}

    <section>
        <input type="radio" name="position" checked />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main id="carousel">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <main>
    </section>
{%endblock%}
{% block content %}

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet adipiscing idunt nullam.</p>

{% endblock %}

{% block extra_js %}{% endblock %}